<!doctype html>
<html>
<head>
  <title>AA DS-FA-1</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js"></script>
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css" rel="stylesheet" />
  <link href="/style.css" rel="stylesheet" />
  <script src="/index.js" defer></script>
</head>
<body>
  <div id="map"></div>
  <div id="list">
    <form id="search-form">
      <input
        type="search"
        name="q"
        placeholder="Search for meetings..." />
    </form>
  </div>
  <script>
    window.__locations__ = <%- JSON.stringify(locations) %>;
  </script>
</body>
</html>
